<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://use.fontawesome.com/1744f3f671.css" media="all" rel="stylesheet"><link href="https://use.fontawesome.com/1744f3f671.css" media="all" rel="stylesheet">

  <style>
      /* Ensure elements are hidden while ScrollEntrance is loading */
      [data-entrance] { visibility: hidden; }
</style>

<style>
      /* Ensure elements are hidden while ScrollEntrance is loading */
      .js [data-entrance] { visibility: hidden; }
</style>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
	 <link rel="stylesheet" href="stylesheets/style1.css">
 	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Notes Ninja</title>

 <link rel="shortcut icon" href="https://github.com/Ak-Bhatia/notesweb/blob/master/title_logo.png?raw=true" />


<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">

</head>


  <body>
   

<!--landing page-->

<header id="header">
  <div class="title fadeInDown animated">
      <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/logo.png?raw=true" alt="Responsive image" style="height:200px; width:200px;" class="image_spin img-fluid ">

    <div class="smallsep heading"></div>
    <h1 class="heading"> Notes Ninja </h1>
    <h2 class="heading">your helping hand</h2>
    <h3 class="mb-3"><a href="/home" class="text-primary"><i class="fa fa-clipboard mr-2" aria-hidden="true"></i>Notes<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></a></h3>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a> 
</header>

<hr>
  
<!-- About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– --> 
<div class="container-fluid bg-dark p-5" data-entrance="fade"> 
<div class="container bg-light">
<section id="about">
  <div class="container">
    <div class="">
      <h1 data-entrance="from-top">About   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+Y2xpcGJvYXJkPC90aXRsZT4KPHBhdGggZD0iTTI5IDRo%0D%0ALTljMC0yLjIwOS0xLjc5MS00LTQtNHMtNCAxLjc5MS00IDRoLTljLTAuNTUyIDAtMSAwLjQ0OC0x%0D%0AIDF2MjZjMCAwLjU1MiAwLjQ0OCAxIDEgMWgyNmMwLjU1MiAwIDEtMC40NDggMS0xdi0yNmMwLTAu%0D%0ANTUyLTAuNDQ4LTEtMS0xek0xNiAyYzEuMTA1IDAgMiAwLjg5NSAyIDJzLTAuODk1IDItMiAyYy0x%0D%0ALjEwNSAwLTItMC44OTUtMi0yczAuODk1LTIgMi0yek0yOCAzMGgtMjR2LTI0aDR2M2MwIDAuNTUy%0D%0AIDAuNDQ4IDEgMSAxaDE0YzAuNTUyIDAgMS0wLjQ0OCAxLTF2LTNoNHYyNHoiPjwvcGF0aD4KPHBh%0D%0AdGggZD0iTTE0IDI2LjgyOGwtNi40MTQtNy40MTQgMS44MjgtMS44MjggNC41ODYgMy41ODYgOC41%0D%0AODYtNy41ODYgMS44MjkgMS44Mjh6Ij48L3BhdGg+Cjwvc3ZnPgo="></h1>
      <div class="block"></div>
      <p><i>Standing in the long queue waiting for your turn or just whatsapp your notes was not enough . The idea of this website
   would'nt came until we didn't had it's utmost need during the time of examinations. This is
  not just only to save your valuable time but it also keeps you updated with the notes being added to it with the excellent
  facility of providing <b>Previous Papers</b>. Now you don't have to wait for your turn in a long wide queue rather just order
  your notes online. It will also check the availability of your notes at different <b>Xerox Stores</b> provided with it's best and
  accurate Price. It also have a commendable feature of downloding your notes whenever you wish. It's not just ended yet ,this amazing
  website will also tableau you with it's <b>BLOG PAGE</b> and the new <b>Upcoming Events.</b></i></p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 data-entrance="from-top">Our Process   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+bGlzdC1udW1iZXJlZDwvdGl0bGU+CjxwYXRoIGQ9Ik0x%0D%0AMiAyNmgyMHY0aC0yMHpNMTIgMTRoMjB2NGgtMjB6TTEyIDJoMjB2NGgtMjB6TTYgMHY4aC0ydi02%0D%0AaC0ydi0yek00IDE2LjQzOHYxLjU2M2g0djJoLTZ2LTQuNTYzbDQtMS44NzV2LTEuNTYzaC00di0y%0D%0AaDZ2NC41NjN6TTggMjJ2MTBoLTZ2LTJoNHYtMmgtNHYtMmg0di0yaC00di0yeiI+PC9wYXRoPgo8%0D%0AL3N2Zz4K"></h3>
        <p data-entrance="from-left"> <i>Firstly - <b>Sign Up</b>.
  <b> Search</b> for your notes code or check if it's already there. After getting information about  your notes, you have to
  check it's availability at different <b>Xerox Stores</b>. Order it online by just typing the <b>Number of Copies</b>. Pay online. Tell your generated secret code to the Shopkeeper to have your notes. If you want a soft copy then press the <b>Download</b> button.</i></p>
      </div>
      <div class="col-lg-6">
        <h3 data-entrance="from-top">Our Approach   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+YnVsbGhvcm48L3RpdGxlPgo8cGF0aCBkPSJNMzIgMTMu%0D%0ANDE0YzAtNi4yNzktMS44MzctMTEuMzczLTQuMTA5LTExLjQxMyAwLjAwOS0wIDAuMDE4LTAuMDAx%0D%0AIDAuMDI3LTAuMDAxaC0yLjU5MmMwIDAtNi4wODggNC41NzMtMTQuODUxIDYuMzY3LTAuMjY4IDEu%0D%0ANDE1LTAuNDM4IDMuMTAyLTAuNDM4IDUuMDQ3czAuMTcxIDMuNjMxIDAuNDM4IDUuMDQ3YzguNzYz%0D%0AIDEuNzk0IDE0Ljg1MSA2LjM2NyAxNC44NTEgNi4zNjdoMi41OTJjLTAuMDA5IDAtMC4wMTgtMC4w%0D%0AMDEtMC4wMjctMC4wMDEgMi4yNzItMC4wNDAgNC4xMDktNS4xMzQgNC4xMDktMTEuNDEzek0yNy4w%0D%0AMjYgMjMuMTAyYy0wLjI5MyAwLTAuNjEtMC4zMDQtMC43NzMtMC40ODYtMC4zOTUtMC40MzktMC43%0D%0ANzUtMS4xMjQtMS4xLTEuOTc5LTAuNzI3LTEuOTEzLTEuMTI3LTQuNDc4LTEuMTI3LTcuMjIzczAu%0D%0ANC01LjMwOSAxLjEyNy03LjIyM2MwLjMyNS0wLjg1NSAwLjcwNS0xLjU0IDEuMS0xLjk3OSAwLjE2%0D%0AMy0wLjE4MiAwLjQ4LTAuNDg2IDAuNzczLTAuNDg2czAuNjEgMC4zMDQgMC43NzMgMC40ODZjMC4z%0D%0AOTUgMC40MzkgMC43NzUgMS4xMjQgMS4xIDEuOTc5IDAuNzI3IDEuOTEzIDEuMTI3IDQuNDc5IDEu%0D%0AMTI3IDcuMjIzcy0wLjQgNS4zMDktMS4xMjcgNy4yMjNjLTAuMzI1IDAuODU1LTAuNzA1IDEuNTQt%0D%0AMS4xIDEuOTc5LTAuMTYzIDAuMTgxLTAuNDggMC40ODYtMC43NzMgMC40ODZ6TTcuODY5IDEzLjQx%0D%0ANGMwLTEuNjIzIDAuMTE5LTMuMjAxIDAuMzQ1LTQuNjU5LTEuNDggMC4yMDUtMi43NzkgMC4zMjMt%0D%0ANC4zODYgMC4zMjMtMi4wOTYgMC0yLjA5NiAwLTIuMDk2IDBsLTEuNzMzIDIuOTU5djIuNzU1bDEu%0D%0ANzMzIDIuOTU5YzAgMCAwIDAgMi4wOTYgMCAxLjYwNiAwIDIuOTA1IDAuMTE4IDQuMzg2IDAuMzIz%0D%0ALTAuMjI2LTEuNDU4LTAuMzQ1LTMuMDM2LTAuMzQ1LTQuNjU5ek0xMS41MDUgMjAuMDY4bC00LTAu%0D%0ANzY2IDIuNTU4IDEwLjA0OGMwLjEzMiAwLjUyIDAuNjQ4IDAuNzgyIDEuMTQ2IDAuNTgzbDMuNzA1%0D%0ALTEuNDgzYzAuNDk4LTAuMTk5IDAuNjk4LTAuNzQ5IDAuNDQ0LTEuMjIxbC0zLjg1My03LjE2MXpN%0D%0AMjcuMDI2IDE3LjE0OGMtMC4xMTMgMC0wLjIzNS0wLjExNy0wLjI5OC0wLjE4Ny0wLjE1Mi0wLjE2%0D%0AOS0wLjI5OS0wLjQzMy0wLjQyNC0wLjc2My0wLjI4LTAuNzM4LTAuNDM0LTEuNzI2LTAuNDM0LTIu%0D%0ANzg0czAuMTU0LTIuMDQ2IDAuNDM0LTIuNzg0YzAuMTI1LTAuMzMgMC4yNzItMC41OTMgMC40MjQt%0D%0AMC43NjMgMC4wNjMtMC4wNzAgMC4xODUtMC4xODcgMC4yOTgtMC4xODdzMC4yMzUgMC4xMTcgMC4y%0D%0AOTggMC4xODdjMC4xNTIgMC4xNjkgMC4yOTkgMC40MzMgMC40MjQgMC43NjMgMC4yOCAwLjczNyAw%0D%0ALjQzNCAxLjcyNiAwLjQzNCAyLjc4NHMtMC4xNTQgMi4wNDYtMC40MzQgMi43ODRjLTAuMTI1IDAu%0D%0AMzMtMC4yNzIgMC41OTMtMC40MjQgMC43NjMtMC4wNjMgMC4wNzAtMC4xODUgMC4xODctMC4yOTgg%0D%0AMC4xODd6Ij48L3BhdGg+Cjwvc3ZnPgo="></h3>
        <p data-entrance="from-left"><i>The website has only being designed to provide you notes at your ease in your hectic scedule. It will save your waiting hours for the notes and your rounds for the same. It will provide you notes at the one click of the <b>Download Button</b>.</i></p>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 data-entrance="from-top">Our Goal   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+c3BoZXJlPC90aXRsZT4KPHBhdGggZD0iTTE1IDJjLTgu%0D%0AMjg0IDAtMTUgNi43MTYtMTUgMTVzNi43MTYgMTUgMTUgMTVjOC4yODQgMCAxNS02LjcxNiAxNS0x%0D%0ANXMtNi43MTYtMTUtMTUtMTV6TTIzLjQ4NyAyMmMwLjI2OC0xLjI2NCAwLjQzNy0yLjYwNiAwLjQ5%0D%0AMi00aDMuOTgzYy0wLjEwNCAxLjM4MS0wLjQyNiAyLjcyMi0wLjk1OSA0aC0zLjUxNnpNNi41MTMg%0D%0AMTJjLTAuMjY4IDEuMjY0LTAuNDM3IDIuNjA2LTAuNDkyIDRoLTMuOTgzYzAuMTA0LTEuMzgxIDAu%0D%0ANDI2LTIuNzIyIDAuOTU5LTRoMy41MTZ6TTIxLjQzOSAxMmMwLjMgMS4yOCAwLjQ4MSAyLjYyIDAu%0D%0ANTQgNGgtNS45Nzl2LTRoNS40Mzl6TTE2IDEwdi01Ljg1NGMwLjQ1NiAwLjEzMyAwLjkwOCAwLjM1%0D%0ANSAxLjM1MSAwLjY2OCAwLjgzMSAwLjU4NiAxLjYyNSAxLjQ4OCAyLjI5OCAyLjYwOSAwLjQ2NSAw%0D%0ALjc3NSAwLjg2NyAxLjYzOCAxLjIwMyAyLjU3OGgtNC44NTJ6TTEwLjM1MSA3LjQyMmMwLjY3My0x%0D%0ALjEyMSAxLjQ2Ny0yLjAyMyAyLjI5OC0yLjYwOSAwLjQ0My0wLjMxMyAwLjg5NS0wLjUzNSAxLjM1%0D%0AMS0wLjY2OHY1Ljg1NGgtNC44NTJjMC4zMzYtMC45NCAwLjczOC0xLjgwMyAxLjIwMy0yLjU3OHpN%0D%0AMTQgMTJ2NGgtNS45NzljMC4wNTktMS4zOCAwLjI0LTIuNzIgMC41NC00aDUuNDM5ek0yLjk5NyAy%0D%0AMmMtMC41MzMtMS4yNzgtMC44NTQtMi42MTktMC45NTktNGgzLjk4M2MwLjA1NSAxLjM5NCAwLjIy%0D%0ANCAyLjczNiAwLjQ5MiA0aC0zLjUxNnpNOC4wMjEgMThoNS45Nzl2NGgtNS40MzljLTAuMy0xLjI4%0D%0ALTAuNDgxLTIuNjItMC41NC00ek0xNCAyNHY1Ljg1NGMtMC40NTYtMC4xMzMtMC45MDgtMC4zNTUt%0D%0AMS4zNTEtMC42NjgtMC44MzEtMC41ODYtMS42MjUtMS40ODgtMi4yOTgtMi42MDktMC40NjUtMC43%0D%0ANzUtMC44NjctMS42MzgtMS4yMDMtMi41NzhoNC44NTJ6TTE5LjY0OSAyNi41NzhjLTAuNjczIDEu%0D%0AMTIxLTEuNDY3IDIuMDIzLTIuMjk4IDIuNjA5LTAuNDQzIDAuMzEyLTAuODk1IDAuNTM1LTEuMzUx%0D%0AIDAuNjY4di01Ljg1NGg0Ljg1MmMtMC4zMzYgMC45NC0wLjczOCAxLjgwMi0xLjIwMyAyLjU3OHpN%0D%0AMTYgMjJ2LTRoNS45NzljLTAuMDU5IDEuMzgtMC4yNCAyLjcyLTAuNTQgNGgtNS40Mzl6TTIzLjk4%0D%0AIDE2Yy0wLjA1NS0xLjM5NC0wLjIyNC0yLjczNi0wLjQ5Mi00aDMuNTE2YzAuNTMzIDEuMjc4IDAu%0D%0AODU1IDIuNjE5IDAuOTU5IDRoLTMuOTgzek0yNS45NTggMTBoLTIuOTk3Yy0wLjU4Mi0xLjgzNi0x%0D%0ALjM4Ny0zLjQ0Ny0yLjM1NC00LjczMiAxLjMyOSAwLjYzNiAyLjUzMyAxLjQ4OCAzLjU4NSAyLjU0%0D%0AIDAuNjcxIDAuNjcxIDEuMjYxIDEuNDA0IDEuNzY2IDIuMTkyek01LjgwOCA3LjgwOGMxLjA1Mi0x%0D%0ALjA1MiAyLjI1Ni0xLjkwNCAzLjU4NS0yLjU0LTAuOTY3IDEuMjg1LTEuNzcxIDIuODk2LTIuMzU0%0D%0AIDQuNzMyaC0yLjk5N2MwLjUwNC0wLjc4OCAxLjA5NC0xLjUyMSAxLjc2Ni0yLjE5MnpNNC4wNDIg%0D%0AMjRoMi45OTdjMC41ODMgMS44MzYgMS4zODcgMy40NDcgMi4zNTQgNC43MzItMS4zMjktMC42MzYt%0D%0AMi41MzMtMS40ODgtMy41ODUtMi41NC0wLjY3MS0wLjY3MS0xLjI2MS0xLjQwNC0xLjc2Ni0yLjE5%0D%0AMnpNMjQuMTkyIDI2LjE5MmMtMS4wNTIgMS4wNTItMi4yNTYgMS45MDQtMy41ODUgMi41NCAwLjk2%0D%0ANy0xLjI4NSAxLjc3MS0yLjg5NiAyLjM1NC00LjczMmgyLjk5N2MtMC41MDQgMC43ODgtMS4wOTQg%0D%0AMS41MjEtMS43NjYgMi4xOTJ6Ij48L3BhdGg+Cjwvc3ZnPgo="></h3>
          <p data-entrance="from-left"><i>With the use of Technology we have created this website to provide you notes as easily as you search for songs and any other stuff on internet. The main agenda is to provide you notes, at your comfort.</i></p>
        </div>
        <div class="col-lg-6">
          <h3 data-entrance="from-top">Our Mission   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+ZWFydGg8L3RpdGxlPgo8cGF0aCBkPSJNMTYgMGMtOC44%0D%0AMzcgMC0xNiA3LjE2My0xNiAxNnM3LjE2MyAxNiAxNiAxNiAxNi03LjE2MyAxNi0xNi03LjE2My0x%0D%0ANi0xNi0xNnpNMTYgMzBjLTEuOTY3IDAtMy44NC0wLjQwNy01LjUzOC0xLjEzOWw3LjI4Ni04LjE5%0D%0AN2MwLjE2My0wLjE4MyAwLjI1My0wLjQxOSAwLjI1My0wLjY2NHYtM2MwLTAuNTUyLTAuNDQ4LTEt%0D%0AMS0xLTMuNTMxIDAtNy4yNTYtMy42NzEtNy4yOTMtMy43MDctMC4xODgtMC4xODgtMC40NDItMC4y%0D%0AOTMtMC43MDctMC4yOTNoLTRjLTAuNTUyIDAtMSAwLjQ0OC0xIDF2NmMwIDAuMzc5IDAuMjE0IDAu%0D%0ANzI1IDAuNTUzIDAuODk0bDMuNDQ3IDEuNzI0djUuODcxYy0zLjYyNy0yLjUzLTYtNi43MzItNi0x%0D%0AMS40ODkgMC0yLjE0NyAwLjQ4NC00LjE4MSAxLjM0OC02aDMuNjUyYzAuMjY1IDAgMC41Mi0wLjEw%0D%0ANSAwLjcwNy0wLjI5M2w0LTRjMC4xODgtMC4xODggMC4yOTMtMC40NDIgMC4yOTMtMC43MDd2LTIu%0D%0ANDE5YzEuMjY4LTAuMzc3IDIuNjEtMC41ODEgNC0wLjU4MSAyLjIgMCA0LjI4MSAwLjUwOCA2LjEz%0D%0ANCAxLjQxMi0wLjEzIDAuMTA5LTAuMjU2IDAuMjI0LTAuMzc2IDAuMzQ1LTEuMTMzIDEuMTMzLTEu%0D%0ANzU3IDIuNjQtMS43NTcgNC4yNDNzMC42MjQgMy4xMDkgMS43NTcgNC4yNDNjMS4xMzkgMS4xMzkg%0D%0AMi42NjMgMS43NTggNC4yMzkgMS43NTggMC4wOTkgMCAwLjE5OC0wLjAwMiAwLjI5Ny0wLjAwNyAw%0D%0ALjQzMiAxLjYxOSAxLjIxMSA1LjgzMy0wLjI2MyAxMS42MzUtMC4wMTQgMC4wNTUtMC4wMjIgMC4x%0D%0AMDktMC4wMjYgMC4xNjMtMi41NDEgMi41OTYtNi4wODQgNC4yMDgtMTAuMDA0IDQuMjA4eiI+PC9w%0D%0AYXRoPgo8L3N2Zz4K"></h3>
          <p data-entrance="from-left"><i>The main agenda of creating this website will only be accomplished when it's use is as compareable to as the selling of ice-creams in summers.</i></p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
<!-- Team Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<hr>

<div class="container mb-0">
<section id="team">
  <div class="container">
      <h1 data-entrance="from-left">Meet the Team   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjM2IiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzYgMzIiPgo8dGl0bGU+dXNlcnM8L3RpdGxlPgo8cGF0aCBkPSJNMjQgMjQuMDgy%0D%0Adi0xLjY0OWMyLjIwMy0xLjI0MSA0LTQuMzM3IDQtNy40MzIgMC00Ljk3MSAwLTktNi05cy02IDQu%0D%0AMDI5LTYgOWMwIDMuMDk2IDEuNzk3IDYuMTkxIDQgNy40MzJ2MS42NDljLTYuNzg0IDAuNTU1LTEy%0D%0AIDMuODg4LTEyIDcuOTE4aDI4YzAtNC4wMzAtNS4yMTYtNy4zNjQtMTItNy45MTh6Ij48L3BhdGg+%0D%0ACjxwYXRoIGQ9Ik0xMC4yMjUgMjQuODU0YzEuNzI4LTEuMTMgMy44NzctMS45ODkgNi4yNDMtMi41%0D%0AMTMtMC40Ny0wLjU1Ni0wLjg5Ny0xLjE3Ni0xLjI2NS0xLjg0NC0wLjk1LTEuNzI2LTEuNDUzLTMu%0D%0ANjI3LTEuNDUzLTUuNDk3IDAtMi42ODkgMC01LjIyOCAwLjk1Ni03LjMwNSAwLjkyOC0yLjAxNiAy%0D%0ALjU5OC0zLjI2NSA0Ljk3Ni0zLjczNC0wLjUyOS0yLjM5LTEuOTM2LTMuOTYxLTUuNjgyLTMuOTYx%0D%0ALTYgMC02IDQuMDI5LTYgOSAwIDMuMDk2IDEuNzk3IDYuMTkxIDQgNy40MzJ2MS42NDljLTYuNzg0%0D%0AIDAuNTU1LTEyIDMuODg4LTEyIDcuOTE4aDguNzE5YzAuNDU0LTAuNDAzIDAuOTU2LTAuNzg3IDEu%0D%0ANTA2LTEuMTQ2eiI+PC9wYXRoPgo8L3N2Zz4K"></h1>
      <div class="block"></div>
    </div>
    <div class="row d-flex justify-text-center text-center">
      <div class="col-lg-2 ml-4 mr-4" data-entrance="from-right" data-entrance-delay="200"> <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/images_2/team/akshit.jpg?raw=true" width="180" height="180" alt=""/>
        <h4>Akshit Bhatia</h4>
        <!-- <p>Creative Director</p> -->
      </div>
      <div class="col-lg-2 ml-4 mr-4" data-entrance="from-right" data-entrance-delay="400"> <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/images_2/team/bharat.jpg?raw=true" width="180" height="180" alt=""/>
        <h4>Bharat Nischal</h4>
        <!-- <p>Lead Designer</p> -->
      </div>
      <div class="col-lg-2 ml-4 mr-4" data-entrance="from-right" data-entrance-delay="600"> <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/images_2/team/mahima.jpg?raw=true" width="180" height="180" alt=""/>
        <h4>Mahima Kalra</h4>
        <!-- <p>Designer</p> -->
      </div>
      <div class="col-lg-2 ml-4 mr-4" data-entrance="from-right" data-entrance-delay="800"> <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/gagan.jpg?raw=true" width="180" height="180" alt=""/>
        <h4>Gagandeep Singh</h4>
        <!-- <p>Designer</p> -->
       </div>
      <div class="col-lg-2 mb-0 ml-4 mr-4" data-entrance="from-right" data-entrance-delay="1000"> <img src="https://github.com/Ak-Bhatia/notesweb/blob/master/images_2/team/harman.jpg?raw=true" width="180" height="180" alt=""/>
        <h4>Harmandeep Singh</h4>
        <!-- <p>Designer</p> -->
       </div>
    </div>
</section>
</div>
<!-- Skills Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  

<hr class="mt-0">

<section id="skills" data-entrance="from-left">
  <div class="container" data-entrance="from-left">
    <h1 data-entrance="from-top">Services   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+Y29nczwvdGl0bGU+CjxwYXRoIGQ9Ik0xMS4zNjYgMjIu%0D%0ANTY0bDEuMjkxLTEuODA3LTEuNDE0LTEuNDE0LTEuODA3IDEuMjkxYy0wLjMzNS0wLjE4Ny0wLjY5%0D%0ANC0wLjMzNy0xLjA3MS0wLjQ0NGwtMC4zNjUtMi4xOWgtMmwtMC4zNjUgMi4xOWMtMC4zNzcgMC4x%0D%0AMDctMC43MzYgMC4yNTYtMS4wNzEgMC40NDRsLTEuODA3LTEuMjkxLTEuNDE0IDEuNDE0IDEuMjkx%0D%0AIDEuODA3Yy0wLjE4NyAwLjMzNS0wLjMzNyAwLjY5NC0wLjQ0MyAxLjA3MWwtMi4xOSAwLjM2NXYy%0D%0AbDIuMTkgMC4zNjVjMC4xMDcgMC4zNzcgMC4yNTYgMC43MzYgMC40NDQgMS4wNzFsLTEuMjkxIDEu%0D%0AODA3IDEuNDE0IDEuNDE0IDEuODA3LTEuMjkxYzAuMzM1IDAuMTg3IDAuNjk0IDAuMzM3IDEuMDcx%0D%0AIDAuNDQ0bDAuMzY1IDIuMTloMmwwLjM2NS0yLjE5YzAuMzc3LTAuMTA3IDAuNzM2LTAuMjU2IDEu%0D%0AMDcxLTAuNDQ0bDEuODA3IDEuMjkxIDEuNDE0LTEuNDE0LTEuMjkxLTEuODA3YzAuMTg3LTAuMzM1%0D%0AIDAuMzM3LTAuNjk0IDAuNDQ0LTEuMDcxbDIuMTktMC4zNjV2LTJsLTIuMTktMC4zNjVjLTAuMTA3%0D%0ALTAuMzc3LTAuMjU2LTAuNzM2LTAuNDQ0LTEuMDcxek03IDI3Yy0xLjEwNSAwLTItMC44OTUtMi0y%0D%0AczAuODk1LTIgMi0yIDIgMC44OTUgMiAyLTAuODk1IDItMiAyek0zMiAxMnYtMmwtMi4xMDYtMC4z%0D%0AODNjLTAuMDM5LTAuMjUxLTAuMDg4LTAuNDk5LTAuMTQ4LTAuNzQzbDEuNzk5LTEuMTU5LTAuNzY1%0D%0ALTEuODQ4LTIuMDkyIDAuNDUyYy0wLjEzMi0wLjIxNi0wLjI3My0wLjQyNi0wLjQyMi0wLjYyOWwx%0D%0ALjIxOS0xLjc2MS0xLjQxNC0xLjQxNC0xLjc2MSAxLjIxOWMtMC4yMDMtMC4xNDktMC40MTMtMC4y%0D%0AOS0wLjYyOS0wLjQyMmwwLjQ1Mi0yLjA5Mi0xLjg0OC0wLjc2NS0xLjE1OSAxLjc5OWMtMC4yNDQt%0D%0AMC4wNTktMC40OTItMC4xMDktMC43NDMtMC4xNDhsLTAuMzgzLTIuMTA2aC0ybC0wLjM4MyAyLjEw%0D%0ANmMtMC4yNTEgMC4wMzktMC40OTkgMC4wODgtMC43NDMgMC4xNDhsLTEuMTU5LTEuNzk5LTEuODQ4%0D%0AIDAuNzY1IDAuNDUyIDIuMDkyYy0wLjIxNiAwLjEzMi0wLjQyNiAwLjI3My0wLjYyOSAwLjQyMmwt%0D%0AMS43NjEtMS4yMTktMS40MTQgMS40MTQgMS4yMTkgMS43NjFjLTAuMTQ5IDAuMjAzLTAuMjkgMC40%0D%0AMTMtMC40MjIgMC42MjlsLTIuMDkyLTAuNDUyLTAuNzY1IDEuODQ4IDEuNzk5IDEuMTU5Yy0wLjA1%0D%0AOSAwLjI0NC0wLjEwOSAwLjQ5Mi0wLjE0OCAwLjc0M2wtMi4xMDYgMC4zODN2MmwyLjEwNiAwLjM4%0D%0AM2MwLjAzOSAwLjI1MSAwLjA4OCAwLjQ5OSAwLjE0OCAwLjc0M2wtMS43OTkgMS4xNTkgMC43NjUg%0D%0AMS44NDggMi4wOTItMC40NTJjMC4xMzIgMC4yMTYgMC4yNzMgMC40MjYgMC40MjIgMC42MjlsLTEu%0D%0AMjE5IDEuNzYxIDEuNDE0IDEuNDE0IDEuNzYxLTEuMjE5YzAuMjAzIDAuMTQ5IDAuNDEzIDAuMjkg%0D%0AMC42MjkgMC40MjJsLTAuNDUyIDIuMDkyIDEuODQ4IDAuNzY1IDEuMTU5LTEuNzk5YzAuMjQ0IDAu%0D%0AMDU5IDAuNDkyIDAuMTA5IDAuNzQzIDAuMTQ4bDAuMzgzIDIuMTA2aDJsMC4zODMtMi4xMDZjMC4y%0D%0ANTEtMC4wMzkgMC40OTktMC4wODggMC43NDMtMC4xNDhsMS4xNTkgMS43OTkgMS44NDgtMC43NjUt%0D%0AMC40NTItMi4wOTJjMC4yMTYtMC4xMzIgMC40MjYtMC4yNzMgMC42MjktMC40MjJsMS43NjEgMS4y%0D%0AMTkgMS40MTQtMS40MTQtMS4yMTktMS43NjFjMC4xNDktMC4yMDMgMC4yOS0wLjQxMyAwLjQyMi0w%0D%0ALjYyOWwyLjA5MiAwLjQ1MiAwLjc2NS0xLjg0OC0xLjc5OS0xLjE1OWMwLjA1OS0wLjI0NCAwLjEw%0D%0AOS0wLjQ5MiAwLjE0OC0wLjc0M2wyLjEwNi0wLjM4M3pNMjEgMTUuMzVjLTIuNDAyIDAtNC4zNS0x%0D%0ALjk0OC00LjM1LTQuMzVzMS45NDgtNC4zNSA0LjM1LTQuMzUgNC4zNSAxLjk0OCA0LjM1IDQuMzVj%0D%0AMCAyLjQwMi0xLjk0OCA0LjM1LTQuMzUgNC4zNXoiPjwvcGF0aD4KPC9zdmc+Cg=="></h1>
    <div class="block"></div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h3 data-entrance="from-left" data-entrance-delay="100">Free Notes</h3>
        <p data-entrance="fade" data-entrance-delay="400">With the amazing feature of Downloading Button you can easily fetch your notes offline at no cost.</p>
      </div>
      <div class="col-lg-4">
        <h3 data-entrance="from-left" data-entrance-delay="100">Easy payment</h3>
        <p data-entrance="fade" data-entrance-delay="400">By the use of this incredible payment technique through PayPal you can easily fetch your notes.</p>
      </div>
      <div class="col-lg-4">
        <h3 data-entrance="from-left" data-entrance-delay="100">Chatbot</h3>
        <p data-entrance="fade" data-entrance-delay="400">Now take a tour of the website with your helping Guide.</p>
      </div>
    </div>
    <div class="row" data-entrance="from-bottom" data-entrance-delay="200">
      <div class="col-lg-8">
        <div class="progressBar">
          <h4>Responsive Design</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-90"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Satisfied Student</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-80"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Question Papers</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-50"></div>
          </div>
        </div>
        <div class="progressBar">
          <h4>Fast Service</h4>
          <div class="progressBarContainer">
            <div class="progressBarValue value-70"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
  
<hr>
<!-- shop Section
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section class="bg-light" id="portfolio">
  <div class="container">
    <h1 data-entrance="from-top" data-entrance-delay="200">Shopkeeper   <img src="data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjM0IiBoZWlnaHQ9IjMyIiB2aWV3%0D%0AQm94PSIwIDAgMzQgMzIiPgo8dGl0bGU+bGlicmFyeTwvdGl0bGU+CjxwYXRoIGQ9Ik0zMiAzMHYt%0D%0AMmgtMnYtMTJoMnYtMmgtNnYyaDJ2MTJoLTZ2LTEyaDJ2LTJoLTZ2MmgydjEyaC02di0xMmgydi0y%0D%0AaC02djJoMnYxMmgtNnYtMTJoMnYtMmgtNnYyaDJ2MTJoLTJ2MmgtMnYyaDM0di0yaC0yeiI+PC9w%0D%0AYXRoPgo8cGF0aCBkPSJNMTYgMGgybDE2IDEwdjJoLTM0di0ybDE2LTEweiI+PC9wYXRoPgo8L3N2%0D%0AZz4K"></h1>
    <div class="block"></div>
    <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-3 mt-4" data-entrance="from-top" data-entrance-delay="200">
            <div class="card">
            <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://github.com/Ak-Bhatia/notesweb/blob/master/1.jpg?raw=true">
            <div class="card-block">
              <h5 class="card-title">
                Library Photostate
              </h5>
              <p class="card-text">
                <div class="container">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </div>
              </p>
            </div>
          </div>
        </div>

          <div class="col-lg-3 mt-4" data-entrance="from-top" data-entrance-delay="400">
            <div class="card">
            <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://github.com/Ak-Bhatia/notesweb/blob/master/1.jpg?raw=true">
            <div class="card-block">
              <h5 class="card-title">
                Library Photostate
              </h5>
              <p class="card-text">
                <div class="container">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </div>
              </p>
            </div>
          </div>
        </div>

          <div class="col-lg-3 mt-4" data-entrance="from-top" data-entrance-delay="600">
            <div class="card">
            <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://github.com/Ak-Bhatia/notesweb/blob/master/1.jpg?raw=true">
            <div class="card-block">
              <h5 class="card-title">
                Library Photostate
              </h5>
              <p class="card-text">
                <div class="container">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </div>
              </p>
            </div>
          </div>
        </div>

          <div class="col-lg-3 mt-4" data-entrance="from-top" data-entrance-delay="800">
            <div class="card">
            <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://github.com/Ak-Bhatia/notesweb/blob/master/1.jpg?raw=true">
            <div class="card-block">
              <h5 class="card-title">
                Library Photostate
              </h5>
              <p class="card-text">
                <div class="container">
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </div>
              </p>
            </div>
          </div>
        </div>


    </div>
</section>

<hr>


<section id="testim" class="testim">
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot active"></li>
                </ul>
                <div id="testim-content" class="cont">
                    
                    <div class="inactive">
                        <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                        <h2>Lorem P. Ipsum</h2>
                        <font color="white">asdghjkjfg fghgfgd gfgdfd fhfgfdf gfygfddf gfhgfdf dfgfgjykjcg fgfdtrtu8oiuy </font>                    
                    </div>

                    <div class="active">
                        <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                        <h2>Mr. Lorem Ipsum</h2>
                        <font color="white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</font>                     
                    </div>

                    <div class="">
                        <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                        <h2>Lorem Ipsum</h2>
                        <font color="white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</font>                     
                    </div>

                    <div class="">
                        <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                        <h2>Lorem De Ipsum</h2>
                        <font color="white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</font>                    
                    </div>

                    <div class="">
                        <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                        <h2>Ms. Lorem R. Ipsum</h2>
                        <font color="white">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</font>                    
                    </div>

                </div>

            </div>
    </section>


<hr>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="scripts/script.js"></script>


<% include partials/footer %>